*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


main{
    background-color: black;
    height: calc(100vh - 80px);
    overflow-y: auto;
}


main .container{
    width: 90vw;
    margin: auto;
    padding-top: 50px;
    height: 100%;
    
}

.disposition{
    color: white;
}

.dispostion1, .disposition2{
    position: absolute;
    right: 4px;
    background-color: gray;
    padding: 3px;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;
}

.dispostion1{
    right: 30px
}

.user{
    position: relative;
    height: 100%;
}

.user-id{
    color: white;
    padding: 3px;
    background-color: gray;
    position: absolute;
    bottom: 10px;
}

img{
    width: 100%;
    height: 100%;
}


footer{
    height: 80px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 15px;
}

.green>:first-child{
    color: green;

}

.col-25 span{
    background-color: gray;
    color: rgb(168, 0, 0);
    padding: 30px 10px 30px 10px;
}


/*attribute*/

main .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.col-user{
    width:14%;
    margin-right: 5px;
    margin-bottom: 20px
    
}

footer .container{
    margin: 0 auto;
    height: 100%;
}

.first>:first-child{
    font-size: 40px;
    margin-bottom: 5px;
}

footer .insiderow{
    display: flex;
}

.first{
    padding-left:10px;
    text-align: center;
}

footer .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

